model_config_list:{
    config:{
      name:"MMModel",
      base_path:"/models/trained_models/MMModel",
      model_platform:"tensorflow"
    },
    config:{
      name:"MMModel_2",
      base_path:"/models/trained_models/MMModel_2",
      model_platform:"tensorflow"
    }
    config:{
      name:"MMModel_3",
      base_path:"/models/trained_models/MMModel_3",
      model_platform:"tensorflow"
    }
}
